<div class="main">

  <h1>Clubs</h1>

  <div class="limiter">
    
          <table>
            <thead>
              <tr >
                <th >ID</th>
                <th >Name</th>
                <th >Initials</th>
                <th >Country</th>
                <th ></th>
              </tr>
            </thead>
            <tbody>
  	          <% @clubs.each do |club| %> 
	            <tr> 
                <td ><%= club.id %></td> 
  	            <td ><%= club.name %></td> 
  	            <td ><%= club.initials %></td>
  		          <td ><%= club.country %></td> 
      
                <td ><%= form_for(:clubs, url: '/clubs') do |f| %> 
                <%= f.hidden_field :id, value: club.id %>
                <%= f.submit "Select", class: "btn" %>
                <% end %>
                </td> 
              </tr>
              <% end %>
            </tbody>
          </table>
        
  </div>

</div>