<div class="recordDiv">

  <h1><%= @club.name %> Members</h1>

  <div class="recordTable">
    <table>
      <th>
        <td>Name</td>
        <td>Username</td>
        <td>Email</td>
        <td>User Type</td>
      </th>
    <tbody>
    <% @users.each do |user| %> 
      <tr>
      <td><p><%= user.first_name %> <%= user.last_name %></p></td>
      <td><p><%= user.username %></p></td>  
      <td><p><%= user.email %></p></td>  
      <td><p><%= user.utype %></p></td> 
      
      </tr>
      
    <% end %>
    </tbody>
    
  </div>
</div>