<div class="login">
  <div class="container">
    <div class="form">

    <h1>Add Membership</h1>

    <%= form_for(@membership,url: '/memberships/add') do |f| %>
    <div class="field"> 
      <ul>
          <li><%= f.label "Name " %><%= f.text_area :name %></li> 	
          <%= f.hidden_field :mtype, value: false%>
      	  <li><%= f.label "Launch Price " %><%= f.number_field :launch_price, :step => :any %></li>
       </ul>
  	</div> 
  	<div class="actions"> 
      <%= f.submit "Create" %> 
  	</div> 
    <% end %>
 

    </div>
  </div>
</div>