<div>
  <%= javascript_tag do %>
    window.user = {id:<%= @user['id'] %>,username:'<%= @user['username'] %>'}; 
    console.log(window.user);
    window.club = {id:<%=  @club['id'] %>, name:'<%= @club['name'] %>'}; 
    console.log(window.club);

    window.memberships = {}
    <% @memberships.each do |membership| %>
      memberships[<%= membership['id'] %>] = {id:<%= membership['id'] %>,name:'<%= membership['name'] %>',launchFee:<%= membership['launch_fee'] %>,soaringFee:<%= membership['soaring_fee'] %>}
    <% end %>
    console.log(memberships)

    window.clubUsers = []
    console.log('Users -------------------------------')
    <% @users.each do |user| %>
      clubUsers.push({id:<%= user['id'] %>, fName:'<%= user['first_name'] %>', lName:'<%= user['last_name'] %>',membershipId:<%= @userMemberships[user['id']] %>})
    <% end %>
    console.log(clubUsers)

  <% end %>
  
  <h1>Logger</h1>

  <div>
	<%= react_component("FlightLogger",{key:'m1'}) %>
  </div>

</div>

