<div>
  
  <h1>Logger</h1>

  <div id="logger">
  <%= react_component("FlightLogger",{key:'m1'}) %>

  </div>

  <%= javascript_tag do %>
    window.user = {id:<%= @user['id'] %>,username:'<%= @user['username'] %>'}; 
    console.log(window.user);
    window.club = {id:<%=  @club['id'] %>, name:'<%= @club['name'] %>'}; 
    console.log(window.club);

    window.memberships = {}
    <% @memberships.each do |membership| %>
      memberships[<%= membership['id'] %>] = {membershipId:<%= membership['id'] %>,name:'<%= membership['name'] %>',launchFee:<%= membership['launch_fee'] %>,soaringFee:<%= membership['soaring_fee'] %>, aerotowStandardFee: 20, aerotowUnitFee: 5}
    <% end %>
    console.log(memberships)

    window.clubUsers = {}
    console.log('Users -------------------------------')
    <% @users.each do |user| %>
      clubUsers[<%= user['id'] %>] = {userId:<%= user['id'] %>, fName:'<%= user['first_name'] %>', lName:'<%= user['last_name'] %>',membershipId:<%= @userMemberships[user['id']] %>}
    <% end %>
    console.log(clubUsers)

    window.aircrafts = {}
    <% @aircrafts.each do |aircraft| %>
      aircrafts[<%= aircraft['id'] %>] = {id:<%= aircraft['id'] %>, registration:'<%= aircraft['registration'] %>', acName:'<%= aircraft['name'] %>'}
    <% end %>
    console.log(aircrafts)

  <% end %>

</div>

